.top-navigation {
	padding-right: 15px;
	font-size: 20px;
}

.navbar-inner {
	text-align: center;
}

.navbar-center {
	margin-left: 0;
	margin-right: 0;
	float: none;
	display: inline-block;
}

.top-navigation .searchbox {
	width: 250px;
	-webkit-transition: width 0.4s ease-in-out;
    -moz-transition:width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchbox:focus {
    width: 400px;
}

.searchbox + ul .search-result {
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #EEE;
}

.searchbox + ul .active .search-result {
	color: #F7F7F7;
}