<configuration>
	<system.webServer>
		<handlers>
			<add modules="iisnode" name="iisnode" path="app/api.js" verb="*" />
		</handlers>

		<rewrite>
			<rules>
				<!-- Prevent 404s caused by HTML 5 mode by redirecting to the root -->
                <rule name="AngularJS Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
        <directoryBrowse enabled="false" />
	</system.webServer>
</configuration>