html {
	background: $color-background;
	color: $color-text;
	height: 100%;
}

body {
	box-sizing: border-box;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: $framework-height;
	position: relative;
}

img {
	max-width: 100%;
}

hr {
  background-color: $color-divider;
  border: 0;
  height: 1px;
  width: 100%;
}

form {
  margin: 0;
}

// Reset link styles
a {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

button {
	border: 0;
	background: transparent;
	outline: 0;
}

// Allow only vertical resizing of textareas
textarea {
  resize: vertical;
}

input[disabled] {
	background-color: $color-disabled;
	color: $color-gray-light;
}