 /* Small */

.u-spacingTopSm {
  margin-top: $spacing-sm;
}

.u-spacingBottomSm {
  margin-bottom: $spacing-sm;
}

.u-spacingBothSm {
  margin-bottom: $spacing-sm;
  margin-top: $spacing-sm;
}

/* Medium */

.u-spacingTopMd {
  margin-top: $spacing-md;
}

.u-spacingBottomMd {
  margin-bottom: $spacing-md;
}

.u-spacingBothMd {
  margin-bottom: $spacing-md;
  margin-top: $spacing-md;
}

/* Large */

.u-spacingTopLg {
  margin-top: $spacing-lg;
}

.u-spacingBottomLg {
  margin-bottom: $spacing-lg;
}

.u-spacingBothLg {
  margin-bottom: $spacing-lg;
  margin-top: $spacing-lg;
}

/* Extra large */

.u-spacingTopXl {
  margin-top: $spacing-xl;
}

.u-spacingBottomXl {
  margin-bottom: $spacing-xl;
}

.u-spacingBothXl {
  margin-bottom: $spacing-xl;
  margin-top: $spacing-xl;
}

/* None */
.u-spacingTopNone { 
  margin-top: 0 !important;
}

// .u-spacingNoBottom,
// .u-spacingBottomNone {
//   margin-bottom: 0;
//   padding-bottom: 0;
// }

// .u-spacingNoBoth,
// .u-spacingBothNone {
//   margin-bottom: 0;
//   margin-top: 0;
//   padding-bottom: 0;
//   padding-top: 0;
// }