/* Breakpoints */

$xs-viewport: 330px;
$sm-viewport: 460px;
$md-viewport: 760px;
$lg-viewport: 1000px;
$xl-viewport: 1260px;

/* Color theme */
//https://coolors.co/app/2b2d42-8d99ae-edf2f4-ef233c-d90429
$color-white: #FDFFFC;
$color-white-smoke: #F8F8F8;
$color-black: #2B2D42;
$color-blue: #289FD6;
$color-gray: #8D99AE;
$color-gray-dark: #6D6D6D;
$color-gray-light: #989898;
$color-gray-xlight: #EDF2F4;
$color-green: #00a03e;
$color-azure: #44BBA4;
$color-orange: #FF9F1C;
$color-red: #E71D36;

$color-background: $color-white;
$color-brand: #E63462;
$color-danger: $color-red;
$color-warning: $color-orange;
$color-success: $color-green;
$color-disabled: $color-gray-xlight;
$color-divider: $color-gray-xlight;
$color-info: $color-blue;
$color-muted: $color-gray-light;
$color-primary: $color-brand;
$color-text: $color-black;

/* Typography */

$border-radius: 4px;
$font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 28px;
$line-height: 1.45;

/* Spacing */

$framework-height: 80px;	// Header & footer
$framework-width: 954px; 	// Page content width

$spacing-sm: 14px;
$spacing-md: 32px;
$spacing-lg: 60px;
$spacing-xl: 100px;

/* Z-index priority levels */
$z-index-high: 140;
$z-index-higher: 120;
$z-index-std: 100;
$z-index-lower: 80;
$z-index-low: 60;