<h1 class="page-heading">{{mode == 'create' ? 'Create recipe' : 'Edit recipe'}}</h1>
<hr class="heading-divider" />

<alert ng-repeat="(alertMode, alert) in alerts" ng-show="activeAlert == alertMode" type="{{alert.type}}" close="activeAlert = null">
	<i class="fa" ng-class="alert.type == 'danger' ? 'fa-exclamation' : 'fa-check'"></i>&nbsp;{{alert.msg}}
</alert>

<section id="edit-form" class="row"> 
	<div class="col-sm-10 col-lg-8">
		<form name="recipeForm" ng-submit="onSubmit(recipeForm.$valid)" novalidate>
			<div class="form-group" ng-class="{ 'has-error': hasError('name') }">
				<label for="recipe-name">Recipe name</label>
				<input type="text" id="recipe-name" class="form-control narrow" name="name" ng-model="name" required />
				<p class="control-label error-label" ng-show="hasError('name')">Recipe name is required.</p>
			</div>

			<div class="form-group">
				<label for="recipe-desc">Description</label>
				<textarea id="recipe-desc" class="form-control narrow" name="description" ng-model="description"></textarea>
			</div>

			<div class="form-group" ng-class="{ 'has-error': hasError('cuisine') }">
				<label for="recipe-cuisine">Cuisine</label>
				<input type="text" id="recipe-cuisine" name="cuisine" ng-model="cuisine" typeahead="c for c in cuisines | filter:$viewValue | limitTo:8" class="form-control narrow" required>
				<p class="control-label error-label" ng-show="hasError('cuisine')">Cuisine is required.</p>
			</div>

			<div class="form-group" ng-class="{ 'has-error': hasError('category') }">
				<label for="recipe-category">Category</label>
				<input type="text" id="recipe-category" name="category" ng-model="category" typeahead="c for c in categories | filter:$viewValue | limitTo:8" class="form-control narrow" required>
				<p class="control-label error-label" ng-show="hasError('category')">Category is required.</p>
			</div>

			<div class="form-group">
				<label for="recipe-img">Image path</label>
				<input type="text" id="recipe-img" class="form-control narrow" name="imagePath" ng-model="imagePath" />
			</div>

			<div class="form-group" ng-class="{ 'has-error': hasError('servings') }">
				<label for="recipe-servings">Servings</label>
				<input type="number" id="recipe-servings" class="form-control narrow" name="servings" ng-model="servings" min="1" max="4" step="1" ng-init="servings = 1" required>
				<p class="control-label error-label" ng-show="hasError('servings')">Number of servings must be a number between 1 and 4.</p>
			</div>

			<div class="checkbox">
				<label for="is-favorite">
					<input type="checkbox" id="is-favorite" name="isFavorite" ng-model="isFavorite" />
					Mark as favorite
				</label>
			</div>

			<div class="form-group">
				<label>Ingredients</label>
				<table class="table">
					<thead>
						<tr>
							<th class="col-xs-5">Name</th>
							<th class="col-xs-1">Quantity</th>
							<th class="col-xs-2">Unit</th>
							<th class="col xs-2">Component</th>
							<th class="col-xs-1"></th>
							<th class="col-xs-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ing in ingredients">
							<td><input type="text" class="form-control" ng-model="ing.name"/></td>
							<td><input type="text" class="form-control" ng-model="ing.quantity" /></td>
							<td><input type="text" class="form-control" ng-model="ing.unit" /></td>
							<td><input type="text" class="form-control" ng-model="ing.component" /></td>
							<td><button type="button" class="btn btn-default btn-sm" ng-click="insertRowBelow($index, ingredients)"><i class="fa fa-plus"></i></button></td>
							<td><button type="button" class="btn btn-default btn-sm" ng-click="removeRow($index, ingredients)" ng-if="$index > 0"><i class="fa fa-remove"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="form-group">
				<label>Method</label>
				<table class="table">
					<thead>
						<tr>
							<th class="col-xs-1"></th>
							<th class="col-xs-10"></th>
							<th class="col-xs-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="step in method">
							<td>{{$index + 1}}</td>
							<td><textarea class="form-control" ng-model="step.value"></textarea></td>
							<td><button type="button" class="btn btn-default btn-sm" ng-click="insertRowBelow($index, method)"><i class="fa fa-plus"></i></button></td>
							<td><button type="button" class="btn btn-default btn-sm" ng-click="removeRow($index, method)" ng-if="$index > 0"><i class="fa fa-remove"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="form-group" ng-class="{ 'has-error': hasError('rating') }">
				<label for="recipe-rating">Rating</label>
				<input type="number" id="recipe-rating" class="form-control narrow" name="rating" ng-model="rating" min="1" max="5" step="0.5" ng-init="rating = 1" required>
				<p class="control-label error-label" ng-show="hasError('rating')">Rating must be a number between 1 and 5.</p>
			</div>

			<input type="submit" class="btn btn-primary" value="Submit" rd-scroll scroll-target="top" ng-click="submitted = true" />
		</form>
	</div>
</section>