<section id="rsl-header">
	<h1>{{category}}</h1>
</section>
<hr class="heading-divider" />

<alert ng-show="showErrorAlert" type="danger">
	<i class="fa fa-exclamation danger"></i>&nbsp;An unexpected error has occured, please try again later.
</alert>

<section id="rsl-content">
	<div class="recipe-subcategory row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="recipe in recipes">
			<div class="recipe-wrapper">
				<a ng-href="#/recipes/{{category}}/{{recipe.id}}">
					<div class="recipe-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
					<p class="recipe-title">{{recipe.recipeName}}</p>
				</a>
				<div class="recipe-rating" rd-rating ratingvalue="{{recipe.meta.rating}}">
			</div>
		</div>
	</div>
</section>