<section id="rl-header">
	<h1>Recipes</h1>
	<select class="pull-right form-control x-narrow" ng-model="selectedGrouping" ng-options="key.display for key in groupKeys" ng-change="updateRecipeGrouping()"></select>
</section>
<hr class="heading-divider" />

<alert ng-show="showErrorAlert" type="danger">
	<i class="fa fa-exclamation danger"></i>&nbsp;An unexpected error has occured, please try again later.
</alert>

<section id="rl-content">
	<div class="recipe-category row" ng-repeat="(category, recipes) in categories">
		<h3><div class="heading-pill text-uppercase">{{category}}</div></h3>
		<div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="recipe in recipes">
			<div class="recipe-wrapper">
				<a href="#/recipes/{{recipe.id}}">
					<div class="recipe-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
					<p class="recipe-title">{{recipe.recipeName}}</p>
				</a>
				<div class="recipe-rating" rd-rating ratingvalue="{{recipe.meta.rating}}">
			</div>
		</div>
	</div>
</section>