<configuration>
	<system.webServer>
		<handlers>
			<add modules="iisnode" name="iisnode" path="app/api.js" verb="*"/>
		</handlers>

		<rewrite>
			<rules>
				<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                     <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
                </rule>

                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
                    <match url="^app/api.js\/debug[\/]?" />
                </rule>

                <!-- <rule name="StaticContent">
                     <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule> -->

                <rule name="DynamicContent">
                     <conditions>
                          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                     </conditions>
                     <action type="Rewrite" url="app/api.js"/>
                </rule>
<!-- 
				<rule name="Debug" patternSyntax="Wildcard" stopProcessing="true">
					<match url="app/api.js/debug*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="None" />
				</rule> -->
				<!-- <rule name="api">
					<match url="api/*"/>
					<action type="Rewrite" url="app/api.js"/>
				</rule> -->
			</rules>
		</rewrite>

		<security>
			<requestFiltering>
				<hiddenSegments>
					<!-- <add segment="node_modules"/> -->
					<add segment="config"/>
					<add segment="test"/>
				</hiddenSegments>
			</requestFiltering>
		</security>

		<httpProtocol>
		    <customHeaders>
		        <add name="Access-Control-Allow-Origin" value="*" />
		        <add name="Access-Control-Allow-Methods" value="GET,POST,DELETE,HEAD,PUT,OPTIONS" />
		        <add name="Access-Control-Allow-Headers" value="Origin, Authorization, Accept" />
		    </customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>