<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoDbUrl" value="mongodb://192.168.0.14:27017/reciperepo_test" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com"
         port="587"
         userName="williamzh87@gmail.com"
         password="wizha&amp;87_Gmail"
         enableSsl="true"/>
        <!--<network host="smtp-relay.gmail.com"
         port="587"
         userName="test@gmail.com"
         password="yourpassword"
         enableSsl="true"/>-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>