body {
	margin: 0 auto;
	color: #222;
	font: 18px Century Gothic, sans-serif;
	max-width: 980px;
}

h1, h2, h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ol {
	margin: 0;
}