/* =============== Navbar =============== */
#rd-nav {
	background-color: #EEE;
}

#rd-nav .back-btn {
	font-size: 24px;
	color: #888;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

/* =============== Banner =============== */
#rd-banner {
	border: 2px solid blue;
	position: relative;
	height: 400px;
}

#rd-banner .headline {
	position: absolute;
	margin: 0 auto;
	left: 0;
    right: 0;
	text-align: center;
	max-width: 400px;
	top: 130px;
}

#rd-banner .serving-info {
	position: absolute;
	right: 15px;
	top: 365px;
}

/* =============== Favorite =============== */

#rd-favorite {
	background-color: green;
	position: relative;
}

#rd-favorite .favorite-icon-wrapper {
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	left: 0;
    right: 0;
	top: -15px;
	width: 36px;
	height: 36px;
	border-radius: 100px;
	background-color: #DDD;
	text-align: center;
}

#rd-favorite .favorite-icon {
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 9px;
	cursor: pointer;
}

#rd-favorite .favorite-icon.filled {
	background-image: url(/img/heart_filled.png);
}

#rd-favorite .favorite-icon.unfilled {
	background-image: url(/img/heart_unfilled.png);
}

/* =============== Ingredients =============== */

#rd-ingredients {
	border: 2px solid orange;
	padding-top: 10px;
}

#rd-ingredients ul {
	padding: 0 20px;
}

#rd-ingredients li {
	padding: 10px 0;
	border-bottom: 1px dotted #AAA;
}

#rd-ingredients li:last-child {
	border-bottom: none;
}

/* =============== Method =============== */

#rd-method {
	border: 2px solid yellow;
	padding-top: 10px
}

#rd-method li {
	padding: 8px 0;
}