#rl-header {
	padding: 10px;
	overflow: hidden;
}

#rl-header h1 {
	float: left;
}

#rl-content {
	padding: 0 10px;
}

#rl-content .recipe-category h2 {
	margin: 5px 0 10px 0;
}

#rl-content .recipe-wrapper {
	display: inline-block;
	width: 250px;
	height: 180px;
	margin: 0 10px;
	vertical-align: top;
}

#rl-content .recipe-wrapper .recipe-image {
	background-image: url("http://placehold.it/245x100");
	background-size: 245px 100px;
	width: 245px;
	height: 100px;
}

#rl-content .recipe-wrapper .recipe-title {
	margin: 0 3px;
}

#rl-content .recipe-wrapper .recipe-rating {
	margin: 0 3px;
	color: orange;
}