#rl-header {
	padding: 10px;
	overflow: hidden;
	border: 1px solid red;
}

#rl-header h1 {
	float: left;
}

#rl-header select {
	float: right;
	height: 25px;
	width: 190px;
}

#rl-content {
	padding: 0 10px;
}

#rl-content .recipe-category h2 {
	margin: 5px 0 10px 0;
}

#rl-content .recipe-wrapper {
	display: inline-block;
	width: 250px;
	height: 180px;
	margin: 0 10px;
	vertical-align: top;
}

#rl-content .recipe-wrapper .recipe-title {
	margin-top: 10px;
}

#rl-content .recipe-wrapper .recipe-rating {
	color: orange;
}