<div class="Container" ng-controller="searchController" ng-init="search()">
	<button class="Button Button--infoLink Button--inline u-pullRight" ng-click="helpModalVisible = true"><i class="fa fa-question-circle fa-lg"></i></button>
	
	<div ng-show="hasError" class="u-spacingBottomMd">
		<alert type="danger" preamble="{{'global/errorAlertPreamble' | translate}}" message="{{'global/generalErrorMessage' | translate}}"></alert>
	</div>

	<form ng-submit="search()">
		<h1 class="u-spacingBottomMd">{{'search/searchHeading' | translate}}</h1>

		<div class="Control Control--discreteDark">
			<input type="search" class="Control-field" placeholder="{{'search/searchPlaceholder' | translate}}" ng-model="searchQuery">
			<button type="submit" class="Control-addOn"><i class="fa fa-search"></i></button>
		</div>
	</form>
	<div ng-show="hits && hits.length > 0" class="u-spacingTopMd">
		<h4 class="u-spacingBottomSm">{{'search/hitCount' | translate}}: {{hits.length}}</h4>
		<ul class="DataList">
			<li class="DataList-item" ng-repeat="recipe in hits">
				<span class="DataList-data u-size6of8 u-sm-size4of8 u-md-size2of8"><strong>{{recipe.name}}</strong></span>
				<span class="DataList-data u-md-size3of8 u-md-show u-textTruncate u-textCenter">{{recipe.description || '-'}}</span>
				<span class="DataList-data u-sm-size1of8 u-sm-show u-textCenter"><rd-rating up="recipe.meta.likeCount" down="recipe.meta.dislikeCount"></rd-rating></span>
				<span class="DataList-dataRight">
					<a ui-sref="recipe({ recipeId: recipe.id })" class="Button Button--infoLink Button--inline"><small>{{'global/showLabel' | translate}}</small></a>
				</span>
			</li>
		</ul>
	</div>
    <div ng-show="hits && hits.length === 0" class="u-spacingTopLg u-textCenter u-textFaded">
        <h3>{{'search/noHits' | translate}}</h3>
        <p>{{'search/searchTips' | translate}}</p>
        <p>{{'search/searchExample' | translate}}</p>
    </div>
    <div class="Loader Loader--inline" ng-class="{ 'is-loading': isBusy }">
        <div class="Loader-content">
            <span class="Loader-icon">
                <i class="fa fa-refresh fa-spin fa-2x"></i><br />
            </span>
            <span class="Loader-label">{{'global/searchingLabel' | translate}}</span>
        </div>
    </div>

    <modal is-visible="helpModalVisible">
        <article class="Article">
        	<h2>Så här söker du</h2>
        	<h3 class="u-spacingTopSm">Sök på nyckelord</h3>
        	<p>För bästa resultat rekommenderar vi att du söker på kända nyckelord enligt listan nedan:</p>
        	<ul>
        		<li>Receptnamn, t.ex. <i>Spaghetti med köttfärssås</i>.</li>
        		<li>Kök, t.ex. <i>Italienskt</i>.</li>
        		<li>Kategori, <i>Pasta</i></li>
        		<li>Måltid, t.ex. <i>Huvudrätt</i>.</li>
        	</ul>
        	<p>För att hitta alla recept som en specifik användare har lagt upp kan du även ange användarnamnet direkt.</p>
        	<h3 class="u-spacingTopSm">Fritextsök</h3>
        	<p>Det går även bra att göra en fritextsök. Detta kommer att försöka hitta bästa match baserat på receptnamn.</p>

    		<button class="Button Button--primary u-spacingTopSm" ng-click="$parent.$parent.helpModalVisible = false">{{'global/dismissLabel' | translate}}</button>
        </article>
	</modal>
</div>