@mixin recipe-item {
	.recipe-wrapper {
		height: 175px;
		border: 1px solid #EEE;

		.recipe-image {
			background-size: cover;
			background-color: #EEE;
			height: 100px;
		}

		.recipe-title {
			margin: 5px 8px;
		}

		.recipe-rating {
			position: absolute;
			margin-left: 8px;
			bottom: 20px;
		}
	}
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin placeholder-color($color) {
	::-webkit-input-placeholder { /* WebKit browsers */
		color: $color;
		opacity: 0.8;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color;
		opacity:  0.8;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color;
		opacity:  0.8;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: $color;
		opacity: 0.8;
	}
}