/* http://stackoverflow.com/questions/12973508/page-specific-sass-files-and-duplication */
body {
	color: #666;
	font: 15px Century Gothic, sans-serif;
}

body a, a:visited  {
	color: #666;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, p {
	margin: 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 20px;
}

ul.no-prefix {
	list-style-type: none;
	padding-left: 20px;
}

footer {
	height: 50px;
}

/* Restore link hover pointer */
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}

hr.heading-divider {
	border-top: 1px solid #EBEDDC;
	margin-top: 15px;
}

.heading-pill {
	background-color: #EBEDDC;
	padding: 5px 7px;
	color: #6E7A59;
}

.heading-pill small {
	font-size: 70%;
}

input.no-glow {
	outline: none;
	border-color: #CCC !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.fa-star, .fa-star-half-full, .fa-star-o {
	color: #FFA400;
}