<div class="Container" ng-controller="manageRecipeController" ng-init="init()">
	<rd-back-link ng-if="inEditMode" target-state="recipe" target-params="{ recipeId: recipeId }"></rd-back-link>
	
	<form name="recipeForm" ng-submit="onSubmit()" novalidate>
		<div  class="u-spacingBothMd">
			<alert ng-show="showError" type="danger" preamble="{{'global/errorAlertPreamble' | translate}}" message="{{errorMessage}}"></alert>
			<alert ng-show="recipeCreated" type="success" message="{{'manage/creationSuccessMessage' | translate}}"></alert>
			<alert ng-show="recipeUpdated" type="success" message="{{'manage/updateSuccessMessage'| translate}}"></alert>
		</div>

		<h1 ng-if="!inEditMode">{{'manage/createRecipeHeading' | translate}}</h1>
		<h1 ng-if="inEditMode">{{'manage/editRecipeHeading' | translate}}</h1>

		<h2 class="u-spacingTopMd u-spacingBottomSm">{{'manage/detailsSubHeading' | translate}}</h2>
		<div class="Grid Grid--withGutter" validator>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('name') }">
					<label class="Control-label" for="name">{{'manage/recipeNameLabel' | translate}}</label>
					<input type="text" class="Control-field" name="name" ng-model="currentRecipe.name" id="name" required />
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': uploadValidationMessage !== null }">
					<label class="Control-label" for="image">{{'manage/imageLabel' | translate}}</label>
					<input type="file" name="image" accept="image/*" ngf-select="upload($file, $invalidFiles)" ngf-pattern="'.png,.jpg,.jpeg,.tif'" ngf-max-size="5MB" id="image">
					<span class="Control-error">{{uploadValidationMessage}}</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull">
				<div class="Control">
					<label class="Control-label" for="rating">{{'manage/descriptionLabel' | translate}}</label>
					<textarea class="Control-textarea" name="description" ng-model="currentRecipe.description" id="rating"></textarea>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('servings') }">
					<label class="Control-label" for="servings">{{'manage/servingsLabel' | translate}}</label>
					<input type="number" class="Control-field" name="servings" ng-model="currentRecipe.meta.servings" min="1" step="1" id="servings" required>
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="cuisine">{{'manage/cuisineLabel' | translate}}</label>
					<select class="Control-field" name="cuisine" ng-model="currentRecipe.meta.cuisine" ng-options="c as (('meta/' + c) | translate) for c in cuisines" id="cuisine"></select>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="category">{{'manage/categoryLabel' | translate}}</label>
					<select class="Control-field" name="category" ng-model="currentRecipe.meta.category" ng-options="c as (('meta/' + c) | translate) for c in categories" id="category"></select>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="course">{{'manage/courseLabel' | translate}}</label>
					<select class="Control-field" name="category" ng-model="currentRecipe.meta.course" ng-options="c as (('meta/' + c) | translate) for c in courses" id="course"></select>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="isPrivate">{{'manage/isPrivateLabel' | translate}}</label>
					<select class="Control-field" name="isPrivate" ng-model="currentRecipe.isPrivate" model-binder="boolean" ng-init="currentRecipe.isPrivate = true" id="isPrivate">
						<option value="true">{{'global/yes' | translate}}</option>
						<option value="false">{{'global/no' | translate}}</option>
					</select>
				</div>
			</div>
		</div>

		<h2 class="u-spacingTopMd u-spacingBottomSm">{{'manage/ingredientsSubHeading' | translate}}</h2>
		<div class="Grid Grid--withGutter" validator>
			<div class="Grid-cell u-sizeFull">
				<ul class="Toolbar u-spacingTopNone" name="ingredients" ng-model="currentRecipe.ingredients" ui-sortable array-required>
					<li class="Toolbar-item" ng-repeat="ing in currentRecipe.ingredients track by $index">
						<button type="button" class="Button Button--link Button--inline" ng-click="removeIngredient($index)"><i class="fa fa-minus"></i></button>
						<a href="#" ng-click="showIngredientModal(ing)">{{'{1} {2} {3}{4}'.assign(ing.quantity, ing.unit, ing.name, (ing.component ? ' (' + ing.component + ')' : ''))}}</a>
					</li>
				</ul>

				<div class="ButtonGroup">
					<button type="button" class="Button Button--infoLink" ng-click="showIngredientModal()">{{'manage/newIngredientLabel' | translate}}</button>
				</div>
				<div class="Control--fake" ng-class="{ 'has-error': hasError('ingredients') }">
					<span class="Control-error">{{'manage/ingredientRequiredError' | translate}}</span>
				</div>
			</div>
		</div>

		<h2 class="u-spacingTopMd u-spacingBottomSm">{{'manage/methodSubHeading' | translate}}</h2>
		<div class="Grid Grid--withGutter" validator>
			<div class="Grid-cell u-sizeFull">
				<ul class="Toolbar u-spacingTopNone" name="steps" ng-model="currentRecipe.steps" ui-sortable array-required>
					<li class="Toolbar-item" ng-repeat="step in currentRecipe.steps track by $index">
						<button type="button" class="Button Button--link Button--inline" ng-click="removeStep($index)"><i class="fa fa-minus"></i></button>
						<a href="#" ng-click="showStepModal(step, $index)">{{$index + 1}}. {{step.value}}</a>
					</li>
				</ul>
				<div class="ButtonGroup">
					<button type="button" class="Button Button--infoLink" ng-click="showStepModal()">{{'manage/newStepLabel' | translate}}</button>
				</div>
				<div class="Control--fake" ng-class="{ 'has-error': hasError('steps') }">
					<span class="Control-error">{{'manage/stepRequiredError' | translate}}</span>
				</div>
			</div>
		</div>

		<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopLg">
			<button type="submit" class="Button Button--primary" rd-scroll scroll-target="top" ng-click="submitted = true">{{'manage/submitButton' | translate}}</button>
		</div>
	</form>

	<modal ng-show="ingredientModalVisible" on-close="ingredientModalVisible = false">
        <form name="newIngredientForm" ng-submit="addIngredient(newIngredientForm)" novalidate>
        	<div validator="ingredientModalSubmitted">
	        	<h2 class="u-spacingBottomSm">{{'manage/newIngredientLabel' | translate}}</h2>
	        	<div class="Control" ng-class="{ 'has-error': hasError('quantity') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientQuantityLabel' | translate}}</label>
					<input type="number" class="Control-field" name="quantity" ng-model="newIngredient.quantity" min="0" step="0.5" id="quantity" required>
					<span class="Control-error">{{'validation/numberFormat' | translate}}</span>
				</div>
				<div class="Control" ng-class="{ 'has-error': hasError('unit') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientUnitLabel' | translate}}</label>
					<input type="text" class="Control-field" name="unit" ng-model="newIngredient.unit" id="unit" required />
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
				<div class="Control" ng-class="{ 'has-error': hasError('name') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientNameLabel' | translate}}</label>
					<input type="text" class="Control-field" name="name" ng-model="newIngredient.name" id="name" required />
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
				<div class="Control" ng-class="{ 'has-error': hasError('component') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientComponentLabel' | translate}}</label>
					<input type="text" class="Control-field" name="component" ng-model="newIngredient.component" id="component" />
					<span class="Control-error"></span>
				</div>
			</div>

			<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopMd">
				<button type="submit" class="Button Button--primary">{{'global/addLabel' | translate}}</button>
			</div>
        </form>
	</modal>

	<modal ng-show="stepModalVisible" on-close="stepModalVisible = false">
        <form name="newStepForm" ng-submit="addStep(newStepForm)" novalidate>
        	<div validator="stepModalSubmitted">
	        	<h2 class="u-spacingBottomSm">{{'manage/newStepLabel' | translate}}</h2>
	        	<div class="Control" ng-class="{ 'has-error': hasError('step') }">
					<label class="Control-label" for="step">{{'manage/stepLabel' | translate}}</label>
					<textarea class="Control-textarea" name="step" ng-model="newStep.value" id="step" required></textarea>
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
				<input type="hidden" name="stepIndex" ng-value="newStep.index" />
			</div>

			<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopMd">
				<button type="submit" class="Button Button--primary">{{'global/addLabel' | translate}}</button>
			</div>
        </form>
	</modal>
</div>