<div ng-controller="recipeDetailsController" ng-init="initialize()">
	<div ng-show="hasError" class="u-spacingBottomMd">
		<alert type="danger" preamble="{{'global/errorAlertPreamble'}}" message="{{'global/generalErrorMessage' | translate}}"></alert>
	</div>

	<div class="recipe-details-wrapper" ng-show="!hasError">
		<div class="Banner">
			<div class="Banner-figure">
				<div ng-style="{ 'background-image':'url(' + recipe.imagePath + ')'}"></div>
			</div>
			<div class="Banner-wrap">
				<div class="Banner-content">
					<div class="Banner-card">
						<h3 class="u-spacingBothSm">{{recipe.name}}</h3>
						<ul class="Toolbar">
							<li class="Toolbar-item Toolbar-item--large" ng-click="onFavoriteClick($event)">
								<a href="#"><i class="fa" ng-class="isFavorite ? 'fa-heart' : 'fa-heart-o'"></i></a>
							</li>
							<li class="Toolbar-item Toolbar-item--large" ng-if="isEditable">
								<a ui-sref="manage/edit({ recipeId: recipe.id })"><i class="fa fa-pencil-square-o"></i></a>
							</li>
						</ul>
						<ul class="Toolbar">
							<li class="Toolbar-item">{{('metaTags/' + recipe.meta.cuisine) | translate}}</li>
							<li class="Toolbar-item">{{('metaTags/' + recipe.meta.category) | translate}}</li>
							<li class="Toolbar-item">{{('metaTags/' + recipe.meta.course) | translate}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="Grid">
			<div class="Grid-cell u-sizeFull">
					<p style="padding-left:15px;">{{recipe.meta.servings}} {{'global/servings' | translate}}</p>
			</div>
			<div class="Grid-cell u-sizeFull u-lg-size1of2">
				<article class="Article">
					<h3>{{recipe.ingredients.length}} <small>{{'recipeDetails/ingredientsHeading' | translate}}</small></h3>
					<hr/>
					<ul class="u-plainList">
						<li ng-repeat="(grpKey, grpVal) in recipe.groupedIngredients">
							<div ng-if='grpKey !== "undefined"'><small class="u-textUppercase">{{grpKey}}</small></div>
							<ul>
								<li ng-repeat="ing in grpVal">
									{{ing.quantity}} {{ing.unit}} {{ing.name}}
								</li>
							</ul>
						</li>
					</ul>
				</article>
			</div>
			<div class="Grid-cell u-sizeFull u-lg-size1of2">
				<article class="Article">
					<h3>{{recipe.steps.length}} <small>{{'recipeDetails/methodHeading' | translate}}</small></h3>
					<hr/>
					<ol>
						<li ng-repeat="step in recipe.steps">
							{{step}}
						</li>
					</ol>
				</article>
			</div>
		</div>
	</div>
</div>