<div class="Container" ng-controller="manageRecipeController" ng-init="init()">
	<rd-back-link ng-if="inEditMode" target-state="recipe" target-params="{ recipeId: recipeId }"></rd-back-link>

	<form name="recipeForm" ng-submit="onSubmit()" novalidate>
		<div ng-show="showError">
			<alert type="danger" preamble="{{'global/errorAlertPreamble'}}" message="global/generalErrorMessage"></alert>
		</div>
		<div ng-show="recipeCreated">
			<alert type="success" message="manage/creationSuccessMessage"></alert>
		</div>
		<div ng-show="recipeUpdated">
			<alert type="success" message="manage/updateSuccessMessage"></alert>
		</div>

		<h1 ng-if="!inEditMode">{{'manage/createRecipeHeading' | translate}}</h1>
		<h1 ng-if="inEditMode">{{'manage/editRecipeHeading' | translate}}</h1>

		<h2 class="u-spacingTopMd u-spacingBottomSm">{{'manage/detailsSubHeading' | translate}}</h2>
		<div class="Grid Grid--withGutter" validator>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('recipeName') }">
					<label class="Control-label" for="recipeName">{{'manage/recipeNameLabel' | translate}}</label>
					<input type="text" class="Control-field" name="recipeName" ng-model="currentRecipe.recipeName" id="recipeName" required />
					<span class="Control-error">Recipe name is required.</span>
				</div>
			</div>

			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="imagePath">{{'manage/imageLabel' | translate}}</label>
					<input type="text" class="Control-field" name="imagePath" ng-model="currentRecipe.imagePath" id="imagePath" />
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('servingSize') }">
					<label class="Control-label" for="servingSize">{{'manage/servingsLabel' | translate}}</label>
					<input type="number" class="Control-field" name="servingSize" ng-model="currentRecipe.servingSize" min="1" max="6" step="1" ng-init="servings = 1" id="servingSize" required>
					<span class="Control-error">Number of servings must be a number between 1 and 6.</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="cuisine">{{'manage/cuisineLabel' | translate}}</label>
					<select class="Control-field" name="cuisine" ng-model="currentRecipe.meta.cuisine" ng-options="getMetaLabel(c) for c in cuisines" id="cuisine"></select>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="category">{{'manage/categoryLabel' | translate}}</label>
					<select class="Control-field" name="category" ng-model="currentRecipe.meta.category" ng-options="getMetaLabel(c) for c in categories" id="category"></select>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="course">{{'manage/courseLabel' | translate}}</label>
					<select class="Control-field" name="category" ng-model="currentRecipe.meta.course" ng-options="getMetaLabel(c) for c in courses" id="course"></select>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('rating') }">
					<label class="Control-label" for="rating">{{'manage/ratingLabel' | translate}}</label>
					<input type="number" class="Control-field" name="rating" ng-model="currentRecipe.rating" min="1" max="5" step="0.5" ng-init="rating = 1" id="rating" required>
					<span class="Control-error">Rating must be a number between 1 and 5.</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="isPrivate">{{'manage/isPrivateLabel' | translate}}</label>
					<select class="Control-field" name="isPrivate" ng-model="currentRecipe.isPrivate" id="isPrivate">
						<option value="true">{{'global/yes' | translate}}</option>
						<option value="false">{{'global/no' | translate}}</option>
					</select>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control">
					<label class="Control-label" for="rating">{{'manage/descriptionLabel' | translate}}</label>
					<textarea class="Control-textarea" name="description" ng-model="currentRecipe.description" id="rating"></textarea>
				</div>
			</div>
		</div>

		<h2 class="u-spacingTopMd u-spacingBottomSm">{{'manage/ingredientsSubHeading' | translate}}</h2>
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sizeFull">
				<ul class="Toolbar u-spacingTopNone">
					<li class="Toolbar-item" ng-repeat="ing in currentRecipe.ingredients track by $index">
						<button type="button" class="Button Button--link Button--inline" ng-click="removeIngredient(ing)"><i class="fa fa-minus"></i></button>
						{{'{1} {2} {3}{4}'.assign(ing.quantity, ing.unit, ing.name, (ing.component ? ' (' + ing.component + ')' : ''))}}
					</li>
				</ul>
				<div class="ButtonGroup">
					<button type="button" class="Button Button--link" ng-click="showIngredientModal = true">{{'manage/newIngredientLabel' | translate}}</button>
				</div>
			</div>
		</div>

		<h2 class="u-spacingTopMd u-spacingBottomSm">{{'manage/methodSubHeading' | translate}}</h2>
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sizeFull">
				<ol class="Toolbar u-spacingTopNone">
					<li class="Toolbar-item" ng-repeat="step in currentRecipe.method track by $index">
						<button type="button" class="Button Button--link Button--inline" ng-click="removeStep(step)"><i class="fa fa-minus"></i></button>
						{{step}}
					</li>
				</ol>
				<div class="ButtonGroup">
					<button type="button" class="Button Button--link" ng-click="showStepModal = true">{{'manage/newStepLabel' | translate}}</button>
				</div>
			</div>
		</div>

		<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopLg">
			<button type="submit" class="Button Button--primary" rd-scroll scroll-target="top" ng-click="submitted = true">{{'manage/submitButton' | translate}}</button>
		</div>
	</form>

	<modal ng-show="showIngredientModal" on-close="showIngredientModal = false">
        <form name="newIngredientForm" ng-submit="addIngredient(newIngredientForm)" novalidate>
        	<div validator="ingredientModalSubmitted">
	        	<h2 class="u-spacingBottomSm">{{'manage/newIngredientLabel' | translate}}</h2>
	        	<div class="Control" ng-class="{ 'has-error': hasError('quantity') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientQuantityLabel' | translate}}</label>
					<input type="number" class="Control-field" name="quantity" ng-model="newIngredient.quantity" min="1" id="quantity" required>
					<span class="Control-error">{{'validation/numberFormat' | translate}}</span>
				</div>
				<div class="Control" ng-class="{ 'has-error': hasError('unit') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientUnitLabel' | translate}}</label>
					<input type="text" class="Control-field" name="unit" ng-model="newIngredient.unit" id="unit" required />
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
				<div class="Control" ng-class="{ 'has-error': hasError('name') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientNameLabel' | translate}}</label>
					<input type="text" class="Control-field" name="name" ng-model="newIngredient.name" id="name" required />
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
				<div class="Control" ng-class="{ 'has-error': hasError('component') }">
					<label class="Control-label" for="quantity">{{'manage/ingredientComponentLabel' | translate}}</label>
					<input type="text" class="Control-field" name="component" ng-model="newIngredient.component" id="component" />
					<span class="Control-error"></span>
				</div>
			</div>

			<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopMd">
				<button type="submit" class="Button Button--primary">{{'global/addLabel' | translate}}</button>
			</div>
        </form>
	</modal>

	<modal ng-show="showStepModal" on-close="showStepModal = false">
        <form name="newStepForm" ng-submit="addStep(newStepForm)" novalidate>
        	<div validator="stepModalSubmitted">
	        	<h2 class="u-spacingBottomSm">{{'manage/newStepLabel' | translate}}</h2>
	        	<div class="Control" ng-class="{ 'has-error': hasError('step') }">
					<label class="Control-label" for="step">{{'manage/stepLabel' | translate}}</label>
					<textarea class="Control-textarea" name="step" ng-model="newStep.value" id="step" required></textarea>
					<span class="Control-error">{{'validation/genericRequired' | translate}}</span>
				</div>
			</div>

			<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopMd">
				<button type="submit" class="Button Button--primary">{{'global/addLabel' | translate}}</button>
			</div>
        </form>
	</modal>
</div>