<div class="my-recipes-wrapper page-container" ng-controller="myRecipesController">
	<rd-back-link target-state="home.start"></rd-back-link>

	<h1 class="page-main-heading"><rd-translate key="manage/myRecipesHeading"></rd-translate></h1>

	<h2 ng-if="recipes.length === 0" class="faded"><rd-translate key="manage/noMyRecipesMessage"></rd-translate></h2>

	<div id="my-recipes-list" ng-if="recipes.length > 0" class="item-list">
		<div class="list-item" ng-repeat="recipe in recipes">
			<a class="plain-link" ui-sref="recipe({ recipeId: recipe.id, referrer: 'manage' })">
				<div class="list-item-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
				<div class="list-item-content">
					<h4>{{recipe.recipeName}}</h4>
					<p>{{recipe.description}}</p>
					<ul class="list-item-meta">						
						<li class="hidden-xs creation-date">{{recipe.meta.created}}</li>
						<li ng-if="recipe.isPrivate === true" class="hidden-xs private-flag"><i class="fa fa-eye"></i> <rd-translate key="manage/privateLabel"></rd-translate></li>
					</ul>
				</div>
			</a>
		</div>
	</div>
</div>