<nav rd-navbar back="recipes"></nav>

<section id="rd-banner">
	<img src="{{recipe.imagePath}}">
	<!-- <img src="http://placehold.it/980x400"> -->
	<div class="headline">
		<h1>{{recipe.recipeName}}</h1>
	</div>
	<div class="serving-info">{{recipe.servingSize}} portioner</div>
</section>

<section id="rd-favorite">
	<span class="favorite-icon-wrapper" ng-click="onFavoriteClick($event)">
		<span class="favorite-icon" ng-class="{ filled: recipe.isFavorite === true, unfilled: recipe.isFavorite === false }"></span>
	</span>
</section>

<section id="rd-ingredients">
	<h3>Ingredients</h3>
	<ul>
		<li ng-repeat="ing in recipe.ingredients">
			{{ing.quantity + ' ' + ing.unit + ' ' + ing.name}}
		</li>
	</ul>
</section>

<section id="rd-method">
	<h3>Method</h3>
	<ol>
		<li ng-repeat="step in recipe.method">
			{{step}}
		</li>
	</ol>
</section>