<alert ng-show="hasError" type="danger">
	<i class="fa fa-exclamation danger"></i>&nbsp;An unexpected error has occured, please try again later.
</alert>

<div class="recipe-details-wrapper" ng-if="hasError == false">
	<div class="row">
		<section id="rd-banner" class="col-lg-12">
			<div class="top-image" ng-style="{ 'background-image':'url(' + recipe.imagePath + ')'}"></div>
			<div class="headline">
				<h2>{{recipe.recipeName}}</h2>
			</div>
			<div ng-if="isAuthenticated" class="edit-controls">
				<a class="btn btn-default btn-sm" ng-href="#/admin/edit/{{recipe.id}}"><i class="fa fa-pencil"></i></a>
			</div>
			<div class="serving-info">{{recipe.servingSize}} portioner</div>
		</section>
	</div>
	<div class="row">
		<section id="rd-favorite" class="col-lg-12">
			<span class="favorite-icon-wrapper" ng-click="onFavoriteClick($event)">
				<span class="favorite-icon fa" ng-class="{ 'fa-heart': recipe.isFavorite === true, 'fa-heart-o': recipe.isFavorite === false }"></span>
			</span>
		</section>
	</div>
	<div class="row">
		<section id="rd-ingredients" class="col-lg-6">
			<h3><div class="heading-pill">{{recipe.ingredients.length}} <small class="text-uppercase">ingredients</small></div></h3>
			<ul class="no-prefix">
				<li ng-repeat="ing in recipe.ingredients">
					<i>{{ing.quantity}}</i> {{ing.unit}} {{ing.name}}
				</li>
			</ul>
		</section>

		<section id="rd-method" class="col-lg-6">
			<h3><div class="heading-pill">{{recipe.method.length}} <small class="text-uppercase">steps</small></div></h3>
			<ol>
				<li ng-repeat="step in recipe.method">
					{{step}}
				</li>
			</ol>
		</section>
	</div>
	<div class="row">
		<section id="rd-meta" class="col-lg-12">
			<h3><div class="heading-pill"><i class="fa fa-info"></i> <small class="text-uppercase">info</small></div></h3>
			<div class="col-sm-6">
				{{recipe.description}}
			</div>
			<div class="col-sm-6">
				<p><i>Category:</i> {{recipe.meta.category}}</p>
				<p><i>Cuisine:</i> {{recipe.meta.cuisine}}</p>
				<p><i>Rating:</i> <span rd-rating ratingvalue="{{recipe.meta.rating}}"></span></p>
			</div>
		</section>
	</div>
</div>