<section id="rl-header" class="well">
	<h1>Recipes</h1>
	<select class="pull-right form-control x-narrow" ng-model="selectedGrouping" ng-options="key for key in groupKeys" ng-change="updateRecipeGrouping()"></select>
</section>

<alert ng-show="showErrorAlert" type="danger">
	<i class="fa fa-exclamation danger"></i>&nbsp;An unexpected error has occured, please try again later.
</alert>

<section id="rl-content">
	<div class="recipe-category" ng-repeat="(category, recipes) in categories">
		<h2>{{category}}</h2>
		<div class="recipe-wrapper" ng-repeat="recipe in recipes">
			<a href="#/recipes/{{recipe.id}}">
				<div class="recipe-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
				<p class="recipe-title">{{recipe.recipeName}}</p>
			</a>
			<div class="recipe-rating" rd-rating ratingvalue="{{recipe.meta.rating}}">
		</div>
		<hr/>
	</div>
</section>

<!-- <div class="row text-center">

	<div class="col-md-12">
		<ul class="pagination">
			<li><a href="#">&laquo;</a>
			</li>
			<li class="active"><a href="#">1</a>
			</li>
			<li><a href="#">2</a>
			</li>
			<li><a href="#">3</a>
			</li>
			<li><a href="#">4</a>
			</li>
			<li><a href="#">5</a>
			</li>
			<li><a href="#">&raquo;</a>
			</li>
		</ul>
	</div>

</div> -->