<div class="Container Container--narrow" ng-controller="resetPasswordController">
	<form name="resetPasswordForm" ng-submit="resetPassword()" novalidate>
		<rd-alert type="danger" message-key="login/resetPasswordErrorMessage" observe="showError === true"></rd-alert>
		<rd-alert type="danger" message-key="login/resetPasswordSuccessMessage" observe="passwordReset === true"></rd-alert>

		<h1>{{'login/resetPasswordHeading' | translate}}</h1>

		<p class="u-spacingBothMd">
			{{'login/resetPasswordInstructions' | translate}}
		</p>

		<div validator>
			<div class="Control" ng-class="{ 'has-error': hasError('resetEmail') }">
				<input type="email" id="reset-email" class="Control-field" name="resetEmail" placeholder="{{'login/resetEmailLabel' | translate}}" ng-model="resetEmail" ng-model-options="{ updateOn: 'blur' }" required />	
				<span class="Control-error">{{'validation/resetEmailInvalid' | translate}}</span>
			</div>
		</div>
		<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopMd">
			<button id="reset-button" type="submit" class="Button Button--primary" ng-click="submitted = true">{{'login/resetButton' | translate}}</button>
			<a class="Button Button--link" ui-sref="login">{{'global/cancelLabel' | translate}}</a>
		</div>
	</form>
</div>