<div ng-init="init()">
	<form name="createProfileForm" ng-submit="createProfile(createProfileForm.$valid)">
		<h1 class="u-spacingBottomMd">{{'profile/createProfileHeading' | translate}}</h1>

		<div ng-show="createProfileError" class="u-spacingBottomMd">
			<alert type="danger" preamble="{{'global/errorAlertPreamble' | translate}}" message="{{createProfileError}}"></alert>
		</div>
		
		<div class="Grid Grid--withGutter" validator>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('userName') }">
					<label class="Control-label" for="userName">{{'profile/userNameLabel' | translate}}</label>
					<input type="text" class="Control-field" name="userName" ng-model="profile.userName" id="userName" required>
					<span class="Control-error">{{'validation/userNameRequired' | translate }}</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('firstName') }">
					<label class="Control-label" for="firstName">{{'profile/firstNameLabel' | translate}}</label>
					<input type="text" class="Control-field" name="firstName" ng-model="profile.firstName" id="firstName" required>
					<span class="Control-error">{{'validation/firstNameRequired' | translate}}</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('lastName') }">
					<label class="Control-label" for="lastName">{{'profile/lastNameLabel' | translate}}</label>
					<input type="text" class="Control-field" name="lastName" ng-model="profile.lastName" id="lastName" required>
					<span class="Control-error">{{'validation/lastNameRequired' | translate}}</span>
				</div>
			</div>
		    <div class="Grid-cell u-sizeFull u-md-size1of2">
		        <div class="Control" ng-class="{ 'has-error': hasError('email') }">
		            <label class="Control-label" for="email">{{'profile/emailLabel' | translate}}</label>
		            <input type="email" class="Control-field" name="email" ng-model="profile.email" id="email" required>
		            <span class="Control-error">{{'validation/emailFormat' | translate}}</span>
		        </div>
		    </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control" ng-class="{ 'has-error': hasError('phoneNumber') }">
                    <label class="Control-label" for="phoneNumber">{{'profile/phoneNumberLabel' | translate}}</label>
                    <input type="tel" class="Control-field" name="phoneNumber" ng-model="profile.phoneNumber" id="phoneNumber" ng-pattern="/^[0-9]{10}$/">
                    <span class="Control-error">{{'validation/phoneNumberFormat' | translate}}</span>
                </div>
            </div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('password') }">
					<label class="Control-label" for="password">{{'profile/passwordLabel' | translate}}</label>
					<input type="password" class="Control-field" name="password" ng-model="profile.password" id="password" required>
					<span class="Control-error">{{'validation/passwordRequired' | translate}}</span>
				</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2">
				<div class="Control" ng-class="{ 'has-error': hasError('repeatPassword') }">
					<label class="Control-label" for="repeatPassword">{{'profile/repeatPasswordLabel' | translate}}</label>
					<input type="password" class="Control-field" name="repeatPassword" ng-model="repeatPassword" id="repeatPassword" required password-repeat='password'>
					<span class="Control-error">{{'validation/passwordRepeatMismatch' | translate}}</span>
				</div>
			</div>
		</div>

		<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopSm">
				<button type="submit" class="Button Button--primary" ng-click="submitted = true">{{'profile/createSubmitButton' | translate}}</button>
				<a ui-sref="login" class="Button Button--link">{{'global/cancelLabel' | translate}}</a>
			</div>
	</form>
</div>