<div class="Container" ng-controller="editProfileController" ng-init="init()">
	<div ng-show="errorMsg" class="u-spacingBottomMd">
		<alert type="danger" preamble="{{'global/errorAlertPreamble' | translate}}" message="{{errorMsg}}"></alert>
	</div>

	<div ng-show="profileUpdated" class="u-spacingBottomMd">
		<alert type="success" message="{{'profile/updateSuccessMessage' | translate}}"></alert>
	</div>

    <form name="editProfileForm" ng-submit="updateProfile()" autocomplete="new-password">
        <h1 class="u-spacingBottomMd">{{'profile/editProfileHeading' | translate}}</h1>

        <h2 class="u-spacingBothSm">{{'profile/personalDetailsHeading' | translate}}</h2>
        <div class="Grid Grid--withGutter" validator>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control" ng-class="{ 'has-error': hasError('firstName') }">
                    <label class="Control-label" for="firstName">{{'profile/firstNameLabel' | translate}}</label>
                    <input type="text" class="Control-field" name="firstName" ng-model="profile.firstName" id="firstName" required>
                    <span class="Control-error">{{'validation/firstNameRequired' | translate}}</span>
                </div>
            </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control" ng-class="{ 'has-error': hasError('lastName') }">
                    <label class="Control-label" for="lastName">{{'profile/lastNameLabel' | translate}}</label>
                    <input type="text" class="Control-field" name="lastName" ng-model="profile.lastName" id="lastName" required>
                    <span class="Control-error">{{'validation/lastNameRequired' | translate}}</span>
                </div>
            </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control" ng-class="{ 'has-error': hasError('email') }">
                    <label class="Control-label" for="email">{{'profile/emailLabel' | translate}}</label>
                    <input type="email" class="Control-field" name="email" ng-model="profile.email" id="email" required>
                    <span class="Control-error">{{'validation/emailRequired' | translate}}</span>
                </div>
            </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control" ng-class="{ 'has-error': hasError('phoneNumber') }">
                    <label class="Control-label" for="phoneNumber">{{'profile/phoneNumberLabel' | translate}}</label>
                    <input type="tel" class="Control-field" name="phoneNumber" ng-model="profile.phoneNumber" id="phoneNumber" ng-pattern="/^[0-9]{10}$/">
                    <span class="Control-error">{{'validation/phoneNumberFormat' | translate}}</span>
                </div>
            </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control">
                    <label class="Control-label" for="userName">{{'profile/userNameLabel' | translate}}</label>
                    <input type="text" class="Control-field" name="userNameFake" id="userNameFake" style="display: none;">  <!-- Use a hidden fake field to circumvent Chrome autofill username -->
                    <input type="text" class="Control-field" name="userName" ng-model="profile.userName" id="userName" disabled>
                </div>
            </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control" ng-class="{ 'has-error': hasError('password') }">
                    <label class="Control-label" for="password">{{'profile/passwordLabel' | translate}}</label>
                    <input type="password" class="Control-field" name="password" ng-model="profile.password" id="password" required>
                    <span class="Control-error">{{'validation/passwordRequired' | translate}}</span>
                </div>
            </div>
        </div>

        <h2 class="u-spacingBothSm">{{'profile/languageHeading' | translate}}</h2>
        <div class="Grid Grid--withGutter" validator>
            <div class="Grid-cell u-sizeFull u-md-size1of2">
                <div class="Control">
                    <select class="Control-field" ng-options="l as ('lang/' + l | translate) for l in supportedLanguages" ng-model="selectedLang"></select>
                </div>
            </div>
        </div>

        <div class="ButtonGroup ButtonGroup--alignRightJustified u-spacingTopLg">
            <button type="submit" class="Button Button--primary" ng-disabled="isBusy">{{'profile/editSubmitButton' | translate}}</button>
        </div>
    </form>
    
    <loader is-visible="isBusy" delay-millis="100"></loader>
</div>