.Article {
	padding: 15px;

	h1, h2, h3 {
		color: $color-black;
	}

	hr {
		background-color: $color-brand;
	}

	ul {
		list-style-type: disc;
	}

	ul, ol {
		padding-left: 25px;
	}

	li {
		padding: 5px 0;
	}
}