.ButtonGroup {
	display: block;
	overflow: hidden;
}

.ButtonGroup--alignRight {
	@media(min-width: $md-viewport) {
		.Button {
			float: right;
		}
	}
}

.ButtonGroup--alignRightJustified {
	@extend .ButtonGroup--alignRight;

	.Button--link:nth-of-type(1) {
		margin-right: -25px;
	}
}