.Control {
	height: 50px;
	width: 100%;
	margin-bottom: 25px;
}

.Control--discrete {
	position: relative;
	color: $color-white;
}

.Control.has-error {
	.Control-field {
		background-color: #ffdad5;
	}

	.Control-error {
		display: block;
	}
}

.Control-field {
	display: block;
	box-sizing: border-box;
	border: 1px solid #c3c3c3;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 5px 10px;
	font-size: $font-size-md;

	&:focus {
		border: 1px solid $color-brand;
	}
}

.Control--discrete .Control-field {
	border: none;
	border-bottom: 1px solid #FFF;
	background: transparent;
	padding-left: 50px;
	font-size: $font-size-lg;

	&:focus {
		color: #FFF;
	}

	@media(min-width: $sm-viewport) {
		font-size: $font-size-lg * 1.2;
	}
}

.Control-addOn {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px 25px 0 5px;
	font-size: $font-size-lg;
	background: transparent;
	border-color: transparent;
	-webkit-appearance: none;
}

.Control-error {
	display: none;
	font-size: $font-size-xs;
	color: $color-red;
	margin-top: 2px;
}