.Section {
	display: block;
	min-height: 200px;
	padding: 25px 25px 15px 25px;
}

.Section--noPadding {
	padding: 0;
}

.Section-heading {
	color: #333745;
}

.Section-heading + hr {
	background-color: $color-brand;
	margin-bottom: 15px;

}

.Section-placeholder {
	width: 100%;
	margin-top: 45px;
	padding: 0 25px;
	text-align: center;

	h3 {
		font-weight: 400;
	}
}