<div id="favorites" class="page-container-wide" ng-controller="favoritesController" ng-init="getFavoriteRecipes()">
	<div class="col-sm-6 col-md-4" ng-repeat="recipe in recipes">
		<div class="recipe-wrapper">
			<a class="plain-link" ui-sref="recipe({ recipeId: recipe.id })">
				<div class="recipe-heading">
					<h5>{{recipe.recipeName}}</h5>
					<p class="preamble">{{recipe.description}}</p>
				</div>
				<div class="recipe-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
				<div class="recipe-footer">
					<span class="recipe-rating"><i class="fa fa-star"></i> {{recipe.rating}} / 5</span>
				</div>
			</a>			
		</div>
	</div>
</div>