<div id="search-result" ng-controller="searchController" ng-init="search()">
	<h2 ng-if="!searchQuery" class="faded">Please enter a search query.</h2>
	<h2 ng-if="hits.length == 0" class="faded">No recipes found matching <i>{{searchQuery}}</i>.</h2>

	<div class="search-hits">
		<div class="search-hit-item" ng-repeat="recipe in hits">
			<a href="#/recipes/{{recipe.id}}">
				<div class="search-hit-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
				<div class="search-hit-content">
					<h4>{{recipe.recipeName}}</h4>
					<p>{{recipe.description}}</p>
					<div class="search-hit-meta">
						<span class="hidden-xs recipe-rating"><i class="fa fa-star"></i> {{recipe.rating}} / 5</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>