<div id="search-result" ng-controller="searchController">
	<h2 ng-if="!searchQuery" class="faded"><rd-translate key="home/noSearchQueryMessage"></rd-translate></h2>
	<h2 ng-if="hits.length == 0" class="faded"><rd-translate key="home/noSearchHitsMessage"></rd-translate> <i>{{searchQuery}}</i>.</h2>

	<div class="search-hits">
		<div class="search-hit-item" ng-repeat="recipe in hits">
			<a class="plain-link" ui-sref="recipe({ recipeId: recipe.id })">
				<div class="search-hit-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
				<div class="search-hit-content">
					<h4>{{recipe.recipeName}}</h4>
					<p>{{recipe.description}}</p>
					<div class="search-hit-meta">
						<span class="hidden-xs recipe-rating"><i class="fa fa-star"></i> {{recipe.rating}} / 5</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>