<div class="home-wrapper">
	<div class="row">
		<div class="banner">
			<div class="banner-figure" ng-style="{ 'background-image': 'url(/assets/img/mat.jpg)' }"/>
			<div class="search-box">
				<form ng-submit="search()">
					<input type="text" class="search-box-field" placeholder="Find a recipe" ng-model="searchQuery"/>
					<button type="button" class="search-box-add"><i class="fa fa-cutlery"></i> Add recipe</button>
				</form>
			</div>
			<rd-tab-group></rd-tab-group>
		</div>	
	</div>
	<div class="row">
		<div class="centered-content">
			<div ui-view></div>
		</div>
	</div>
</div>