<div class="home-wrapper" ng-init="getTopRecipes()">
	<div class="row">
		<div class="banner">
			<div class="banner-figure" ng-style="{ 'background-image': 'url(/assets/img/mat.jpg)' }"/>
			<div class="search-box">
				<form ng-submit="search()">
					<input type="text" class="search-box-field" placeholder="Find a recipe" ng-model="searchQuery"/>
					<button type="button" class="search-box-add"><i class="fa fa-cutlery"></i> Add recipe</button>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="centered-content">
			<div class="col-sm-6 col-md-4" ng-repeat="recipe in recipes">
				<div class="recipe-wrapper">
					<a href="#/recipes/{{recipe.id}}">
						<div class="recipe-heading">
							<h4>{{recipe.recipeName}}</h4>
							<p class="preamble">{{recipe.description}}</p>
						</div>
						<div class="recipe-image" ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
					</a>			
					<span class="recipe-rating"><i class="fa fa-star"></i> {{recipe.rating}} / 5</span>
				</div>
			</div>
		</div>
	</div>
</div>