<div ng-controller="homeController" ng-init="init()">
	<div class="Banner">
		<div class="Banner-figure">
			<div ng-style="{ 'background-image': 'url(/assets/img/mat.jpg)' }"></div>
		</div>
		<div class="Banner-wrap">
			<div class="Banner-content Banner-content--padded">
				<form ng-submit="search()">
					<div class="Control Control--discrete">
						<input type="text" autofocus class="Control-field" placeholder="{{'home/findRecipePlaceholder' | translate}}" ng-model="searchQuery"/>
						<button type="submit" class="Control-addOn"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<section class="Section u-spacingTopSm">
		<h2 class="Section-header">{{'home/latest' | translate}}</h1>
		<hr/>
		<div class="Grid Grid--withGutter">
			<div ng-if="latestRecipes.length === 0" class="Section-placeholder">
				<h3>{{'home/latestPlaceholder' | translate}}</h3>
			</div>
			<div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of4 u-xl-size1of6" ng-repeat="recipe in latestRecipes">
				<div class="Box">
					<div class="Box-content" ng-click="showRecipe(recipe)">
						<div class="Box-image">
							<div ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
						</div>
						<div class="Box-overlay">
							<h4 class="Box-heading">{{recipe.name}}</h4>
							<div class="Box-meta">
								<i class="fa fa-clock-o"></i>
								&nbsp;{{recipe.meta.created | timeAgo}}
							</div>
						</div>
						<div class="Box-footer">
							{{recipe.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="Section">
		<h2 class="Section-header">{{'home/topRated' | translate}}</h1>
		<hr/>
		<div class="Grid Grid--withGutter">
			<div ng-if="topRecipes.length === 0" class="Section-placeholder">
				<h3>{{'home/topRatedPlaceholder' | translate}}</h3>
			</div>
			<div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of4 u-xl-size1of6" ng-repeat="recipe in topRecipes">
				<div class="Box">
					<div class="Box-content" ng-click="showRecipe(recipe)">
						<div class="Box-image">
							<div ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
						</div>
						<div class="Box-overlay">
							<h4 class="Box-heading">{{recipe.name}}</h4>
							<div class="Box-meta">
								<i class="fa fa-star-o"></i>
								&nbsp;{{recipe.meta.rating}}
							</div>
						</div>
						<div class="Box-footer">
							{{recipe.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="Section">
		<h2 class="Section-header">{{'home/history' | translate}}</h1>
		<hr/>
		<div class="Grid Grid--withGutter">
			<div ng-if="history.length === 0" class="Section-placeholder">
				<h3>{{'home/historyPlaceholder' | translate}}</h3>
			</div>
			<div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of4 u-xl-size1of6" ng-repeat="recipe in history">
				<div class="Box">
					<div class="Box-content" ng-click="showRecipe(recipe)">
						<div class="Box-image">
							<div ng-style="{ 'background-image': 'url({{recipe.imagePath}})' }"></div>
						</div>
						<div class="Box-overlay">
							<h4 class="Box-heading">{{recipe.name}}</h4>
							<div class="Box-meta"></div>
						</div>
						<div class="Box-footer">
							{{recipe.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>