<nav class="top-navigation navbar navbar-default">
	<div class="navbar-inner">
		<ul class="nav navbar-nav navbar-left">
	    	<li><a class="back-btn"><i class="fa fa-chevron-left"></i></a></li>
	    	<li><a href="#"><i class="fa fa-home"></i></a></li>
	    	<li><a href="#/recipes"><i class="fa fa-th"></i></a></li>
	    </ul>
	    <ul class="navbar-form navbar-center">
	    	<li>
				<input type="text" class="form-control searchbox" ng-model="searchValue" placeholder="Search recipe" typeahead="h for h in search($viewValue) | limitTo:10" 
					typeahead-loading="searchInProgress" typeahead-min-length="2" typeahead-on-select="onSearchSelect($item, $model, $label)">
    			<!-- <i ng-show="searchInProgress" class="fa fa-spinner"></i> -->
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" dropdown>
				<a class="dropdown-toggle" dropdown-toggle><i class="fa fa-user"></i> <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/admin/create" ng-if="isAuthenticated">Create recipe</a></li>
					<li class="divider"></li>
					<li><a href="#">Log out</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>