<div class="header-image" style="background-image:url('{{recipe.imagePath}}')">
	<div class="headline">
		<div class="container">
			<h1>{{recipe.name}}</h1>
      <h2>{{recipe.name}}</h2>
		</div>
	</div>

</div>
<!-- /header-image -->

<div class="container">

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="featurette" id="ingredients">
		<img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
		<h2 class="featurette-heading">Ingredients</h2>
		<ul>
      <li ng-repeat="ing in recipe.ingredients">{{ing.name + ' ' + ing.quantity + ing.unit}}</li>
		</ul>
	</div>

	<hr class="featurette-divider">

	<div class="featurette" id="directions">
		<img class="featurette-image img-circle img-responsive pull-left" src="http://placecreature.com/500/500">
		<h2 class="featurette-heading">Directions</h2>
		<ol>
      <li ng-repeat"prep in recipe.preparation">{{prep}}</li>
		</ol>
	</div>

	<hr class="featurette-divider">

	<div class="featurette" id="contact">
		<img class="featurette-image img-circle img-responsive pull-right" src="http://placecreature.com/500/500">
		<h2 class="featurette-heading">The Third Heading
      <span class="text-muted">Will Seal the Deal.</span>
		</h2>
		<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	</div>

	<!-- /END THE FEATURETTES -->
</div>