<nav id="rl-nav" class="top-navigation">
	<div class="main-btn">
		<a href="#/"><i class="fa fa-home"></i></a>
	</div>
	<div class="menu"></div>		
</nav>

<section id="rl-header">
	<h1>Recipes</h1>
	<select ng-model="selectedGrouping" ng-options="key for key in groupKeys" ng-change="updateRecipeGrouping()"></select>
</section>

<section id="rl-content">
	<div class="recipe-category" ng-repeat="(category, recipes) in categories">
		<h2>{{category}}</h2>
		<div class="recipe-wrapper" ng-repeat="recipe in recipes">
			<a href="#/recipes/{{recipe.recipeId}}">
				<img src="http://placehold.it/245x100">
				<p class="recipe-title">{{recipe.recipeName}}</p>
			</a>
			<div class="recipe-rating" rd-rating rating="{{recipe.meta.rating}}"></div>
		</div>
		<hr/>
	</div>
</section>

<!-- <div class="row text-center">

	<div class="col-md-12">
		<ul class="pagination">
			<li><a href="#">&laquo;</a>
			</li>
			<li class="active"><a href="#">1</a>
			</li>
			<li><a href="#">2</a>
			</li>
			<li><a href="#">3</a>
			</li>
			<li><a href="#">4</a>
			</li>
			<li><a href="#">5</a>
			</li>
			<li><a href="#">&raquo;</a>
			</li>
		</ul>
	</div>

</div> -->