<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Recipes<small> x</small></h1>
		</div>

	</div>

	<div ng-repeat="recipe in recipes" class="col-md-4 portfolio-item">
		<a href="#/recipes/{{recipe.id}}">
			<img class="img-responsive" src="http://placehold.it/700x400">
		</a>
		<h3><a href="#/recipes/{{recipe.id}}">{{recipe.name}}</a></h3>
		<p>{{recipe.description}}</p>
		<div class="ratings">
			<p class="pull-right">31 reviews</p>
			<p>								 
				<!-- <span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star-empty"></span> -->

				<span ng-repeat="star in recipe.stars" class="glyphicon glyphicon-star{{star.isFilled ? '' : '-empty'}}">
			</p>
		</div>
	</div>

	<hr>
  
	<div class="row text-center">

		<div class="col-md-12">
			<ul class="pagination">
				<li><a href="#">&laquo;</a>
				</li>
				<li class="active"><a href="#">1</a>
				</li>
				<li><a href="#">2</a>
				</li>
				<li><a href="#">3</a>
				</li>
				<li><a href="#">4</a>
				</li>
				<li><a href="#">5</a>
				</li>
				<li><a href="#">&raquo;</a>
				</li>
			</ul>
		</div>

	</div>

</div>
<!-- /.container -->