<nav id="rl-nav" class="top-navigation">
	<div class="main-btn">
		<a href="#/"><i class="fa fa-home"></i></a>
	</div>
	<div class="menu"></div>		
</nav>

<section id="rl-header">
	<h1>Recipes</h1>
</section>

<section id="rl-content">
	<div class="recipe-category" ng-repeat="(category, recipes) in categories">
		<h2>{{category}}</h2>
		<div class="recipe-wrapper" ng-repeat="recipe in recipes">
			<a href="#/recipes/{{recipe.recipeId}}"><img src="http://placehold.it/200x120"></a>
			<h3><a href="#/recipes/{{recipe.recipeId}}">{{recipe.recipeName}}</a></h3>
			<p>{{recipe.description}}</p>
			<!-- <div>
				<p>31 reviews</p>
				<p>		 -->						 
					<!-- <span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star-empty"></span> -->
					<!-- <span ng-repeat="star in recipe.stars" class="glyphicon glyphicon-star{{star.isFilled ? '' : '-empty'}}">
				</p>
			</div> -->
		</div>
		<hr/>
	</div>
</section>

<!-- <div class="row text-center">

	<div class="col-md-12">
		<ul class="pagination">
			<li><a href="#">&laquo;</a>
			</li>
			<li class="active"><a href="#">1</a>
			</li>
			<li><a href="#">2</a>
			</li>
			<li><a href="#">3</a>
			</li>
			<li><a href="#">4</a>
			</li>
			<li><a href="#">5</a>
			</li>
			<li><a href="#">&raquo;</a>
			</li>
		</ul>
	</div>

</div> -->