.Banner {
	max-height: 480px;
	width: 100%;
	position: relative;
    overflow: hidden;
}

.Banner::before {
    display: block;
    content: "";
    padding-bottom: 80%;

    @media(min-width: $sm-viewport) {
        padding-bottom: 50%;
    }

    @media(min-width: $md-viewport) {
        padding-bottom: 35%;
    }

    @media(min-width: $xl-viewport) {
        padding-bottom: 30%;
    }
}

.Banner-figure {
	position: absolute;
	background: #000;
    // Offset height/width and positioning to hide the blurred edges
    left: -3%;
    top: -3%;
    height: 106%;
    width: 106%;
}

.Banner-figure > div {
	background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 0.6;
    width: 100%;
}

.Banner-figure--blur > div {
     filter: blur(6px);
    -webkit-filter: blur(6px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='6'%20/></filter></svg>#blur");
}

.Banner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.Banner-content {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 700px;
    text-align: center;
}

.Banner-content--padded {
    padding: 25px;
}

.Banner-card {
    box-sizing: border-box;
    color: $color-white;
    padding: 25px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 500px;
}