#rl-header {
	overflow: hidden;
}

#rl-header h1 {
	float: left;
}

#rl-content .recipe-category h3 {
	margin-left: 15px;
	margin-right: 15px;
}

#rl-content .recipe-category > div {
	padding: 15px;
}

#rl-content .recipe-wrapper {
	height: 175px;
	border: 1px solid #EEE;
}

#rl-content .recipe-wrapper .recipe-image {
	background-size: cover;
	background-color: #EEE;
	height: 100px;
}

#rl-content .recipe-wrapper .recipe-title {
	margin: 5px 8px;
}

#rl-content .recipe-wrapper .recipe-rating {
	position: absolute;
	margin-left: 8px;
	bottom: 20px;
}