@using System.Web.Optimization
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using RecipeRepo.Web.Configuration

<!DOCTYPE html>
<html ng-app="recipeRepoApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Recipe Repository - A simple recipe store</title>

    @Styles.Render("~/bundles/styles")
</head>

<body>
    <rd-navbar></rd-navbar>

    @RenderBody()

    <footer></footer>

    @Scripts.Render("~/bundles/scripts/lib", "~/bundles/scripts/app")
    
    <script type="text/javascript">
        var clientSettings = @Html.Raw(JsonConvert.SerializeObject(new ClientSettings(), new JsonSerializerSettings
        {
            ContractResolver = new CamelCasePropertyNamesContractResolver()
        }));
    </script>
</body>
</html>