<div id="reset-password-wrapper" class="login-container" ng-controller="resetPasswordController">
	<div class="login-box">
		<rd-alert type="danger" message-key="login/resetPasswordErrorMessage" observe="showError === true"></rd-alert>
		<rd-alert type="danger" message-key="login/resetPasswordSuccessMessage" observe="passwordReset === true"></rd-alert>

		<h1><rd-translate key="login/resetPasswordHeading"/></h1>
		<form id="reset-password-form" name="resetPasswordForm" ng-submit="resetPassword()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': hasError('resetEmail') }">
					<label for="reset-email"><rd-translate key="login/resetEmailLabel"/></label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
						<input type="email" id="reset-email" class="form-control" name="resetEmail" ng-model="resetEmail" ng-model-options="{ updateOn: 'blur' }" required />	
					</div>
					<p class="control-label error-label" ng-show="hasError('resetEmail')"><rd-translate key="validation/resetEmailRequired"></rd-translate></p>
				</div>
			</fieldset>

			<div class="button-group">
				<a ui-sref="login" class="link-btn"><rd-translate key="global/cancelLabel"></rd-translate></a>
				<button id="reset-button" type="submit" class="btn btn-primary" ng-click="submitted = true"><rd-translate key="login/resetButton"></rd-translate></button>
			</div>
		</form>
	</div>
</div>