<div class="Container Container--narrow" ng-controller="resetPasswordController">
	<form id="reset-password-form" name="resetPasswordForm" ng-submit="resetPassword()" novalidate>
		<rd-alert type="danger" message-key="login/resetPasswordErrorMessage" observe="showError === true"></rd-alert>
		<rd-alert type="danger" message-key="login/resetPasswordSuccessMessage" observe="passwordReset === true"></rd-alert>

		<h1><rd-translate key="login/resetPasswordHeading"/></h1>

		<p class="u-spacingBothMd">
			Glömt ditt lösenord? Inga problem, skriv in din e-postadress så skickar vi ut en återställningslänk!
		</p>

		<div class="Control" ng-class="{ 'has-error': hasError('resetEmail') }">
			<!-- <label for="reset-email"><rd-translate key="login/resetEmailLabel"/></label> -->
			<input type="email" id="reset-email" class="Control-field" name="resetEmail" placeholder="E-post" ng-model="resetEmail" ng-model-options="{ updateOn: 'blur' }" required />	
			<span class="Control-error"><rd-translate key="validation/resetEmailRequired"></rd-translate></span>
		</div>

		<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopMd">
			<button id="reset-button" type="submit" class="Button Button--primary" ng-click="submitted = true"><rd-translate key="login/resetButton"></rd-translate></button>
			<a class="Button Button--link" ui-sref="login"><rd-translate key="global/cancelLabel"></rd-translate></a>
		</div>
	</form>
</div>