<div class="modal" id="{{targetId}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">{{modalHeader}}</h4>
            </div>
            <div class="modal-body" ng-transclude></div>
            <div class="modal-footer">
                <div ng-if="type === 'info'">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><rd-translate key="global/dismissLabel"></rd-translate></button>
                </div>

                <div ng-if="type === 'confirmAction'">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><rd-translate key="global/cancelLabel"></rd-translate></button>
                    <button type="button" class="btn btn-danger" ng-click="invokeAction()">{{actionLabel}}</button>
                </div>
            </div>
        </div>
    </div>
</div>