@import "base/_custom-bootstrap";

@import "base/_typography";

@import "helpers/mixins";

@import "components/_heading";
@import "components/_banner";
@import "components/_list";

@import "layout/_container";
@import "layout/_header";
@import "layout/_forms";

@import "pages/_login";
@import "pages/_home";
@import "pages/_recipe-details";
@import "pages/_manage-recipe";
@import "pages/_my-recipes";
@import "pages/_profile";

// Restore link hover pointer
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}

a.back {
	display: inline-block;
	padding: 15px 0;
	color: $brand-primary;
	cursor: pointer;
	font-size: $font-size-large;

	&:hover {
		color: $brand-primary-highlight;
	}

	i {
		margin-right: 5px;
	}
}

footer {
	height: 50px;
}

.plain-table {
	& td {
		border: none !important;
	}
}

.blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}