@import "base/_custom-bootstrap";

@import "base/_typography";

@import "helpers/mixins";

@import "layout/_header";

@import "pages/_home";
@import "pages/_recipe-details";
@import "pages/_manage-recipe";

// Restore link hover pointer
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}

footer {
	height: 50px;
}

.heading-pill {
	background-color: $brand-primary;
	padding: 5px 7px;
	color: #6E7A59;
}

.heading-pill small {
	font-size: 70%;
}