.recipe-details-wrapper section {
	padding-left: 0;
	padding-right: 0;
}

/* =============== Banner =============== */
#rd-banner {
	position: relative;
	box-shadow: 0px 15px 40px -20px #222;
}

#rd-banner .top-image {
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

#rd-banner .headline {
	position: absolute;
	margin: 0 auto;
	left: 0;
    right: 0;
	text-align: center;
	max-width: 350px;
	top: 120px;
	background-color: rgba(238, 233, 233, .7);
	border-radius: 10px;
	padding: 5px;
}

#rd-banner .headline h2 {
	margin: 10px 0;
}

#rd-banner .edit-controls {
	position: absolute;
	right: 15px;
	top: 15px;
	/*padding: 10px;*/
	/*background-color: rgba(255, 255, 255, .7);*/
	/*border-radius: 10px;*/
}

#rd-banner .serving-info {
	position: absolute;
	right: 15px;
	top: 297px;
	padding: 10px;
	background-color: rgba(238, 233, 233, .7);
	border-radius: 10px;
}

/* =============== Favorite =============== */

#rd-favorite {
	position: relative;
	margin-bottom: 25px;
}

#rd-favorite .favorite-icon-wrapper {
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	left: 0;
    right: 0;
	top: -15px;
	width: 36px;
	height: 36px;
	border-radius: 100px;
	background-color: #FFF;
	border: 1px solid #FFA400;
	text-align: center;
	z-index: 1000;
}

#rd-favorite .favorite-icon {
	width: 21px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 8px;
	cursor: pointer;
	color: #EE5AA0;
	font-size: 22px;
}

/* =============== Meta =============== */
#rd-meta > div {
	padding-top: 7px;
}

/* =============== Ingredients =============== */
#rd-ingredients {
	padding-top: 15px;
}

#rd-ingredients li {
	padding: 7px 0;
	border-bottom: 1px solid #EBEDDC;
}

#rd-ingredients li:last-child {
	border-bottom: none;
}

/* =============== Method =============== */
#rd-method {
	padding-top: 15px;
}

#rd-method li {
	padding: 7px 0;
}