/* =============== Banner =============== */
#rd-banner {
	position: relative;
}

#rd-banner .top-image {
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

#rd-banner .headline {
	position: absolute;
	margin: 0 auto;
	left: 0;
    right: 0;
	text-align: center;
	max-width: 350px;
	top: 120px;
	background-color: rgba(238, 233, 233, .7);
	border-radius: 10px;
}

#rd-banner .headline h1 {
	margin: 10px 0;
}

#rd-banner .edit-controls {
	position: absolute;
	right: 15px;
	top: 15px;
	/*padding: 10px;*/
	/*background-color: rgba(238, 233, 233, .7);*/
	/*border-radius: 10px;*/
}

#rd-banner .serving-info {
	position: absolute;
	right: 15px;
	top: 297px;
	padding: 10px;
	background-color: rgba(238, 233, 233, .7);
	border-radius: 10px;
}

/* =============== Favorite =============== */

#rd-favorite {
	position: relative;
}

#rd-favorite .favorite-icon-wrapper {
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	left: 0;
    right: 0;
	top: -15px;
	width: 36px;
	height: 36px;
	border-radius: 100px;
	background-color: rgba(216, 216, 216, .7);
	text-align: center;
}

#rd-favorite .favorite-icon {
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 9px;
	cursor: pointer;
}

#rd-favorite .favorite-icon.filled {
	background-image: url(/img/heart_filled.png);
}

#rd-favorite .favorite-icon.unfilled {
	background-image: url(/img/heart_unfilled.png);
}

/* =============== Ingredients =============== */

#rd-ingredients {
	border: 2px solid orange;
	padding: 10px 10px 0 10px;
}

#rd-ingredients ul {
	padding: 0 20px;
}

#rd-ingredients li {
	padding: 10px 0;
	border-bottom: 1px dotted #AAA;
}

#rd-ingredients li:last-child {
	border-bottom: none;
}

/* =============== Method =============== */

#rd-method {
	border: 2px solid yellow;
	padding: 10px;
}

#rd-method li {
	padding: 8px 0;
}