#rl-header {
	overflow: hidden;
}

#rl-header h1 {
	float: left;
}

#rl-content .recipe-wrapper {
	position: relative;
	margin: 15px 5px;
	display: inline-block;
	width: 240px;
	height: 180px;
	vertical-align: top;
	padding-bottom: 5px;
	border: 1px solid #EEE;
}

#rl-content .recipe-wrapper .recipe-image {
	background-size: cover;
	background-color: #EEE;
	height: 100px;
}

#rl-content .recipe-wrapper .recipe-title {
	margin: 5px 8px;
}

#rl-content .recipe-wrapper .recipe-rating {
	position: absolute;
	margin-left: 8px;
	bottom: 5px;
	color: #FFA400;
}