<div ng-controller="recipeDetailsController" ng-init="getRecipe()">
	<alert ng-show="hasError" type="danger">
		<i class="fa fa-exclamation danger"></i> <rd-translate key="global/generalErrorMessage"></rd-translate>
	</alert>

	<div class="recipe-details-wrapper" ng-show="hasError == false">
		<div class="row">
			<div class="banner">
				<span class="recipe-details-back" rd-back-link target-state="home.start"></span>
				<div class="banner-figure" ng-style="{ 'background-image':'url(' + recipe.imagePath + ')'}"></div>
				<div class="headline">
					<h2>{{recipe.recipeName}}</h2>
					<ul class="recipe-meta">
						<li>{{recipe.servingSize}} <rd-translate key="global/servings"></li>
					</ul>
					<ul class="recipe-meta">
						<li>{{recipe.meta.cuisine}}</li>
						<li>{{recipe.meta.category}}</li>
						<li>{{recipe.meta.course}}</li>
					</ul>
					<ul class="recipe-toolbar">
						<li class="favorite" ng-click="onFavoriteClick($event)">
							<a href="#"><i class="fa" ng-class="recipe.isFavorite ? 'fa-heart' : 'fa-heart-o'"></i></a>
						</li>
						<li class="edit">
							<a ui-sref="manage/edit({ recipeId: recipe.id })"><i class="fa fa-pencil-square-o"></i></a>
						</li>
						<li class="delete">
							<a href="#" data-toggle="modal" data-target="#confirm-delete-modal"><i class="fa fa-trash-o"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<article id="rd-ingredients" class="col-lg-6">
					<h3><div class="list-heading">{{recipe.ingredients.length}} <small><rd-translate key="recipeDetails/ingredientsHeading"></rd-translate></small></div></h3>
					<ul class="component-list">
						<li ng-repeat="(grpKey, grpVal) in recipe.groupedIngredients">
							<p ng-if='grpKey !== "undefined"' class="component-header text-uppercase"><small>{{grpKey}}</small></p>
							<ul class="ingredient-list">
								<li ng-repeat="ing in grpVal">
									{{ing.quantity}} {{ing.unit}} {{ing.name}}
								</li>
							</ul>
						</li>
					</ul>
				</article>

				<article id="rd-method" class="col-lg-6">
					<h3><div class="list-heading">{{recipe.method.length}} <small><rd-translate key="recipeDetails/methodHeading"></rd-translate></small></div></h3>
					<ol class="method-list">
						<li ng-repeat="step in recipe.method">
							{{step}}
						</li>
					</ol>
				</article>
			</div>
		</div>
	</div>

	<rd-modal target-id="confirm-delete-modal" modal-header="{{modalHeading}}" action-label="{{modalAction}}" on-action="removeRecipe()">
		<p><rd-translate key="recipeDetails/confirmRemoveMessage"></rd-translate></p>
	</rd-modal>
</div>