<div class="Container Container--narrow" ng-controller="loginController">
	<form name="loginForm" ng-submit="onSubmit()" novalidate>
		<div validator>
			<div ng-show="showError" class="u-spacingBottomMd">
				<alert type="danger" preamble="{{'global/errorAlertPreamble'}}" message="{{'login/loginErrorMessage' | translate}}"></alert>
			</div>

			<h1 class="u-spacingBottomMd">{{'login/mainHeading' | translate}}</h1>
			
			<div class="Control Control--noLabel" ng-class="{ 'has-error': hasError('userName') }">
				<label class="Control-label" for="userName">{{'login/userNameLabel' | translate}}</label>
				<input type="text" class="Control-field" name="userName" ng-model="$parent.userName" id="userName" required />	
				<span class="Control-error">{{'validation/userNameRequired' | translate}}</span>
			</div>
			<div class="Control Control--noLabel" ng-class="{ 'has-error': hasError('password') }">
				<label class="Control-label" for="password">{{'login/passwordLabel' | translate}}</label>
				<input type="password" class="Control-field" name="password" ng-model="$parent.password" id="password" required />
				<span class="Control-error">{{'validation/passwordRequired' | translate}}</span>
			</div>
		</div>
		<div class="ButtonGroup ButtonGroup--alignRight u-spacingTopMd">
			<button type="submit" class="Button Button--primary" ng-click="submitted = true">{{'login/submitButton' | translate}}</button>
		</div>
		<div class="ButtonGroup ButtonGroup--alignRightJustified u-spacingTopSm">
			<a class="Button Button--link" ui-sref="resetPassword">{{'login/forgotPasswordLabel' | translate }}</a>
			<a class="Button Button--link" ui-sref="register.create">{{'login/registerLabel' | translate }}</a>
		</div>
	</form>
</div>