.manage-recipe-wrapper {
	h1 {
		border-bottom: 1px solid $brand-primary;
		margin-top: 15px;
		padding-bottom: 15px;
	}

	#recipe-form {
		fieldset {
			margin: 30px 0;
	  		padding: 15px 0;
	  		border-bottom: 1px solid $gray-lighter;

	  		legend {
	  			padding-top: 15px;
	  			margin-bottom: 0;
	  			border: none;
	  			font-size: $font-size-h6;
	  			font-weight: 600;
	  			color: $gray-light;
	  			text-transform: uppercase;
	  		}
		}

		.table {
			button:focus {
				background-color: #FFF;
			}

			th {
				font-weight: 100;
			}
		}
	}
}