/**
 * Hide at breakpoint
 */
@media (min-width: $xs-viewport) {
  .u-xs-hide { display: none !important; }
}

@media (min-width: $sm-viewport) {
  .u-sm-hide { display: none !important; }
}

@media (min-width: $md-viewport) {
  .u-md-hide { display: none !important; }
}

@media (min-width: $lg-viewport) {
  .u-lg-hide { display: none !important; }
}

/**
 * Show at breakpoint
 */

@media (max-width: $xs-viewport) {
  .u-xs-show { display: none !important; }
}

@media (max-width: $sm-viewport) {
  .u-sm-show { display: none !important; }
}

@media (max-width: $md-viewport) {
  .u-md-show { display: none !important; }
}

@media (max-width: $lg-viewport) {
  .u-lg-show { display: none !important; }
}