/* Breakpoints */

$xs-viewport: 330px;
$sm-viewport: 460px;
$md-viewport: 760px;
$lg-viewport: 1000px;
$xl-viewport: 1260px;
// $xs-max-viewport: 329px;
// $sm-max-viewport: 459px;
// $md-max-viewport: 759px;
// $lg-max-viewport: 999px;
// $xl-max-viewport: 1259px;

/* Color theme */
//https://coolors.co/app/edae49-d1495b-00798c-30638e-003d5b
$color-white: #FDFFFC;
$color-black: #333745;
$color-blue: #3DA4FF;
$color-gray: #6d6d6d;
$color-gray-dark: #444;
$color-gray-light: #989898;
$color-green: #00a03e;
$color-azure: #2EC4B6;
$color-orange: #FF9F1C;
$color-red: #E71D36;

$color-background: $color-white;
$color-brand: #E63462;
$color-danger: $color-red;
$color-warning: $color-orange;
$color-success: $color-green;
$color-disabled: rgba(0, 0, 0, 0.1);
$color-divider: rgba(0, 0, 0, 0.13);
$color-info: $color-blue;
$color-muted: $color-gray-light;
$color-primary: $color-brand;
$color-text: $color-gray-dark;

/* Typography */

$border-radius: 4px;
$font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 28px;
$line-height: 1.45;

/* Spacing */

$framework-height: 80px;	// Header & footer
$framework-width: 954px; 	// Page content width

$spacing-sm: 14px;
$spacing-md: 32px;
$spacing-lg: 60px;
$spacing-xl: 100px;

/* Z-index priority levels */
$z-index-high: 140;
$z-index-higher: 120;
$z-index-std: 100;
$z-index-lower: 80;
$z-index-low: 60;