@model IEnumerable<BusinessLogic.Entities.Recipe>

@{
	ViewBag.Title = "Index";
}

<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">3 Col Portfolio<small> Showcase Your Work</small></h1>
		</div>

	</div>

	@{ var modelList = Model.ToList(); }
	@for (var i = 1; i <= modelList.Count; i++) 
  {
		var recipe = modelList[i - 1];
	  
		<div class="col-md-4 portfolio-item">
			<a href="@Url.Action("Details", new { id = recipe.Id })">
				<img class="img-responsive" src="http://placehold.it/700x400">
			</a>
			<h3><a href="@Url.Action("Details", "Recipe", new { id = recipe.Id })">@recipe.Name</a></h3>
			<p>@recipe.Description</p>
			<div class="ratings">
				<p class="pull-right">31 reviews</p>
				<p>
					@for(var j = 0; j < 5; j++)
					{
						if(j <= recipe.Rating)
						{									 
							<span class="glyphicon glyphicon-star"></span>
						}
						else
						{
							<span class="glyphicon glyphicon-star-empty"></span>
						}																								
					}
				</p>
			</div>
		</div>
	}

	<hr>
  
	<div class="row text-center">

		<div class="col-md-12">
			<ul class="pagination">
				<li><a href="#">&laquo;</a>
				</li>
				<li class="active"><a href="#">1</a>
				</li>
				<li><a href="#">2</a>
				</li>
				<li><a href="#">3</a>
				</li>
				<li><a href="#">4</a>
				</li>
				<li><a href="#">5</a>
				</li>
				<li><a href="#">&raquo;</a>
				</li>
			</ul>
		</div>

	</div>

</div>
<!-- /.container -->
